#modalNewArticle.modal.fade(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button",data-dismiss="modal",aria-hidden="true")|&times;
				h6.modal-title#myModalLabel|Nuevo articulo
			.modal-body
				.row.top-buffer
					.col-sm-12
						.input-group
							span.input-group-addon: i.glyphicon.glyphicon-shopping-cart
							input.form-control.input-lg(ng-model="nombreProducto",placeholder="nombre del articulo")
				.row.top-buffer
					.col-sm-12
						.input-group
							span.input-group-addon: i.glyphicon.glyphicon-barcode
							input.form-control.input-lg(ng-model="codigoProducto",placeholder="codigo de barras del articulo")
				.row.top-buffer
					.col-sm-6
						.input-group
							span.input-group-addon: i.glyphicon.glyphicon-usd
							input.form-control.input-lg(ng-model="precioProducto",placeholder="precio")
					.col-sm-6
						.input-group
							span.input-group-addon: i.glyphicon.glyphicon-th-large
							input.form-control.input-lg(ng-model="stockProducto",placeholder="stock")
				.row.top-buffer
					center.center-box.text-center
						.col-sm-12
							.thumbnails
								.span4
									a.thumbnail(href="#")
										img(src="/images/photo.png")
						input.hide.form-control.input-lg(type="file",ng-model="fotoProducto",placeholder="stock")
			.modal-footer
				button.btn.btn-primary|guardar