#modalSearchArticle.modal.fade(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
	.modal-dialog
		.modal-content
			form(id="", method="", action="")
				.modal-header
					button.close(type="button",data-dismiss="modal",aria-hidden="true")|&times;
					h4.modal-title#myModalLabel|Buscar articulo
				.modal-body
					.row.top-buffer
						.col-sm-12
							.input-group
								input.input-lg.form-control(ng-model="search",placeholder="codigo del articulo")
								span.input-group-btn
									button(type="button").btn.btn-lg.btn-default: i.glyphicon.glyphicon-search
					.row.top-buffer
						.col-sm-12
							.input-group
								span.input-group-addon: i.glyphicon.glyphicon-barcode
								input.form-control.input-lg(ng-model="nombreProducto",placeholder="nombre")
					.row.top-buffer
						.col-sm-6
							.input-group
								span.input-group-addon: i.glyphicon.glyphicon-usd
								input.form-control.input-lg(ng-model="precioProducto",placeholder="precio")
						.col-sm-6
							.input-group
								span.input-group-addon: i.glyphicon.glyphicon-th-large
								input.form-control.input-lg(ng-model="stockProducto",placeholder="stock")
					.row.top-buffer
						center.center-box.text-center
							.col-sm-12
								.thumbnails
									.span4
										a.thumbnail(href="#")
											img(src="/images/photo.png")
							input.hide.form-control.input-lg(type="file",ng-model="fotoProducto",placeholder="stock")
				.modal-footer
					button.btn.btn-lg.btn-danger|Eliminar articulo