#top
	.navbar.navbar-inverse.navbar-fixed-top
		.container
			.navbar-header
				button.navbar-toggle(data-toggle="collapse",data-target=".navbar-collapse")
					i.icon-bar
					i.icon-bar
					i.icon-bar
				a.navbar-brand(href="#")
					|LimeLight
			.navbar-collapse.collapse
				ul.nav.navbar-nav
					li: a#menu(href="/pages/hojaBalance")
										i(class="glyphicon glyphicon-wrench")
					li: a.btn.default(ng-click="toExcel()"): i.glyphicon.glyphicon-floppy-save
					li: a.btn.default(onclick="$('#modalNewArticle').modal('toggle')"): i.glyphicon.glyphicon-plus
					li: a.btn.default(onclick="$('#modalSearchArticle').modal('toggle')"): i.glyphicon.glyphicon-search
					li
						a.btn-default(href="/pages/hojaBalance")
							i.glyphicon.glyphicon-shopping-cart
							|Ventas
					li
						a.btn.default(href="/pages/reports")
							i.glyphicon.glyphicon-list-alt 
							|Reportes
					if (user&&user.email)
						li: a.btn(href="#")| #{user.email}
					li: a.btn(class="btn-danger",href="/users/logout"): i.glyphicon.glyphicon-off
