#left-content {
  width: 380px;
  height: auto;
  position: absolute;
}
#left-content .well {
  margin: 1.8rem 0 0 0;
}
#content-principal {
  text-align: center;
}
#content-principal h1,
#content-principal h2,
#content-principal h3 {
  margin: 0 0 0.2rem;
}
#content-principal #tabla table thead tr th {
  text-align: center;
}
