html {
  width: 90%;
  height: auto;
  margin: 0 auto;
}
html #left-content {
  width: 380px;
  height: auto;
  position: absolute;
}
html #left-content .well {
  margin: 1.8rem 0 0 0;
}
html #content-principal {
  text-align: center;
}
html #content-principal h1,
html #content-principal h2,
html #content-principal h3 {
  margin: 0 0 0.2rem;
}
html #content-principal #tabla table thead tr th {
  text-align: center;
}
