extends layouts/layoutBalance
block content
	div(ng-controller="ctrlTableBoard")
		#top
			ul.nav.nav-pills
				li: a#menu(href="#menu")
									i(class="glyphicon glyphicon-wrench")
				li: a.btn(class="default",ng-click="toExcel()"): i.glyphicon.glyphicon-floppy-save
		#content-principal
			#titulos
				h1()|{{rsocial}}
				h2()|{{lema}}
				h3()|{{fecha}}
				hr
			#enterData
				.row(ng-init="buscar = false;columnsRow = 'col-sm-1'")
					.grupo1(ng-show="!buscar")
						.col-sm-3
							.input-group
								span.input-group-addon: i.glyphicon.glyphicon-shopping-cart
								input.form-control(ng-model="nombreProducto",placeholder="¿Qué despache?")
						.col-sm-2
							.input-group
								span.input-group-addon: i.glyphicon.glyphicon-cloud
								input.form-control(ng-model="cantidad",placeholder="¿Cuántos vendí?")
						.col-sm-2
							.input-group
								span.input-group-addon|S/.
								input.form-control(ng-model="precio",placeholder="¿A cuánto le deje?")
						.col-sm-3
							.input-group
								span.input-group-addon: i.glyphicon.glyphicon-user
								input.form-control(ng-model="cliente",placeholder="¿Quién es mi cliente?")
						.col-sm-1
							button(ng-click="agregarVenta()").btn.btn-default: i.glyphicon.glyphicon-plus-sign
					.grupo2
						div(ng-class="columnsRow")
							.input-group
								input.form-control(ng-model="search",ng-show="buscar",placeholder="indique nombre del cliente o nombre del producto")
								span.input-group-btn
									button(ng-click="buscarFilter()").btn.btn-default: i.glyphicon.glyphicon-search
				hr
			#tabla
				.content
					table.table(id="tableExport",class="table-hover table-responsive table-striped")
						thead
							tr.success
								th()|¿Que despaché?
								th()|¿A cuanto?
								th()|¿La cantidad?
								th()|Mi cliente es
								th(colspan="1"): i(class="glyphicon glyphicon-cog")
						tbody
							tr(ng-repeat="(key, venta) in tablaVentas| filter:search")
								th{{venta.nombreProducto}}
								th{{venta.precio}}
								th{{venta.cantidad}}
								th{{venta.cliente}}
								th.text-center: button(class="btn-danger",ng-click="eliminarVenta($index)").btn: i.glyphicon.glyphicon-remove