extends layouts/layoutBalance
block content
	div(ng-controller="ctrlTableBoard")
		#top
			.navbar.navbar-inverse.navbar-fixed-top
				.container
					.navbar-header
						button.navbar-toggle(data-toggle="collapse",data-target=".navbar-collapse")
							i.icon-bar
							i.icon-bar
							i.icon-bar
						a.navbar-brand(href="#")
							img.logo(src="/images/logo-movlimSystems.png", alt="")
					.navbar-collapse.collapse
						ul.nav.navbar-nav
							li: a#menu(href="#menu")
												i(class="glyphicon glyphicon-wrench")
							li: a.btn(class="default",ng-click="toExcel()"): i.glyphicon.glyphicon-floppy-save
							li: a.btn(class="default",href="/users/logout"): i.glyphicon.glyphicon-log-out
							if (user.email)
								li: a.btn(href="#")| #{user.email}
		#content-principal
			.container
				.row
					#titulos
						h1()|{{rsocial}}
						h2()|{{lema}}
						h3()|{{fecha}}
						hr
			#enterData
				.row(ng-init="buscar = false;columnsRow = 'col-sm-1'")
					.grupo1(ng-show="!buscar")
						.col-sm-3
							.input-group
								span.input-group-addon: i.glyphicon.glyphicon-shopping-cart
								input.form-control.input-lg(ng-model="nombreProducto",placeholder="¿Qué despache?")
						.col-sm-2
							.input-group
								span.input-group-addon: i.glyphicon.glyphicon-cloud
								input.form-control.input-lg(ng-model="cantidad",placeholder="¿Cuántos vendí?")
						.col-sm-2
							.input-group
								span.input-group-addon: i.glyphicon.glyphicon-usd
								input.form-control.input-lg(ng-model="precio",placeholder="¿A cuánto le deje?")
						.col-sm-3
							.input-group
								span.input-group-addon: i.glyphicon.glyphicon-user
								input.form-control.input-lg(ng-model="cliente",placeholder="¿Quién es mi cliente?")
						.col-sm-1
							button(ng-click="agregarVenta()").btn.btn-default.btn-lg.btn-block: i.glyphicon.glyphicon-plus-sign
					.grupo2
						div(ng-class="columnsRow")
							.input-group
								input.form-control.input-lg(ng-model="search",ng-show="buscar",placeholder="indique nombre del cliente o nombre del producto")
								span.input-group-btn
									button(ng-click="buscarFilter()").btn.btn-default.btn-lg.btn-block: i.glyphicon.glyphicon-search
				hr
			#tabla
				.content(style="display:none;")
					table.table(id="tableExport",class="table-hover table-responsive table-striped")
						thead
							tr.success
								th()|¿Que despaché?
								th()|¿A cuanto?
								th()|¿La cantidad?
								th()|Mi cliente es
								th(colspan="1"): i(class="glyphicon glyphicon-cog")
						tbody
							tr(ng-repeat="(key, venta) in tablaVentas| filter:search")
								th{{venta.nombreProducto}}
								th{{venta.precio}}
								th{{venta.cantidad}}
								th{{venta.cliente}}
								th.text-center: button(class="btn-danger",ng-click="eliminarVenta($index)").btn: i.glyphicon.glyphicon-remove
				.main
					ul.cbp_tmtimeline
						li(ng-repeat="(key, venta) in tablaVentas| filter:search")
							time.cbp_tmtime(datetime="20-07-2014 18:30")
								span|20-07-2014
								span|18:30
							.cbp_tmicon.cbp_tmicon-phone
							.cbp_tmlabel
								ul
									li|{{venta.nombreProducto}}								
									li|{{venta.precio}}								
									li|{{venta.cantidad}}
									li|{{venta.cliente}}								
