extends layouts/layoutBalance
block content
	div(ng-controller="ctrlTableBoard")
		include partials/hojaBalance/top
		include partials/hojaBalance/contentPrincipal
		include partials/hojaBalance/modalNewArticle
		include partials/hojaBalance/modalSearchArticle

