extends layout

block content
	#web
		a#menu(href="#menu")
			i(class="glyphicon glyphicon-wrench")
		a.btn(class="default",ng-click="toExcel()")|EXPORT
		#left-content(class="panel panel-primary")
			.panel-heading
				|Detalles
			.panel-body
				#detalles
					.well(class="well-sm")|Detalles de la Balanza
					.input-group
						span.input-group-addon
							i(class="glyphicon glyphicon-user")
						input.form-control(placeholder="",ng-model="rsocial")
					.input-group
						span.input-group-addon
							i(class="glyphicon glyphicon-comment")
						input.form-control(placeholder="",ng-model="subTitulo")
					.input-group
						span.input-group-addon
							i(class="glyphicon glyphicon-calendar")
						input.form-control(placeholder="",ng-model="periodo")
				#cuentas
					.well(class="well-sm")|Cuentas
					form(name="formCtas",novalidate)
						select.form-control(id="cta",name="optCtas")
							option(ng-repeat="(key, value) in cuentas_")|{{value.nro}} : {{value.desc}}
						.input-group
							span.input-group-addon
								i(class="glyphicon glyphicon-usd")
							input.form-control(name="debe",placeholder="Debe",ng-model="debe",required)
						.input-group
							span.input-group-addon
								i(class="glyphicon glyphicon-usd")
							input.form-control(name="haber",placeholder="Haber",ng-model="haber",required)
						button.btn(class="btn-default",ng-click="agregarCta()",ng-disabled="formCtas.$invalid")|Agregar     
							i(class="glyphicon glyphicon-arrow-right")
		#content-principal()
			#titulos
				h1()|{{rsocial}}
				h2()|{{subTitulo}}
				h3()|{{periodo}}
				hr
			#tabla
				.content
					table.table(id="tableExport",class="table-bordered table-hover table-responsive table-striped")
						thead
							tr.success
								th(rowspan="2")|NroCta
								th(rowspan="2")|Descripcion
								th(colspan="2")|Movimientos
								th(colspan="2")|Saldos
								th(colspan="2")|Balance
								th(colspan="2")|Resultados
								th(rowspan="2")
									i(class="glyphicon glyphicon-cog")
							tr.warning
								th|Debe
								th|Haber
								th|Deudor
								th|Acreedor
								th|Activo
								th|Pasivo+Pat.
								th|Perdidas
								th|Ganancias
						tbody
							tr(ng-repeat="(key, cta) in tablaCtas")
								th|{{cta.nroCta}}
								th|{{cta.descripcion}}
								th|{{cta.movimientos.debe}}
								th|{{cta.movimientos.haber}}
								th|{{cta.saldos.deudor}}
								th|{{cta.saldos.acreedor}}
								th|{{cta.balance.activo}}
								th|{{cta.balance.pasPat}}
								th|{{cta.resultados.perdidas}}
								th|{{cta.resultados.ganancias}}
								th
									button.btn(class="btn-danger",ng-click="remove($index)")|X
							tr.danger
								th|*
								th|Sumas
								th|{{sumas.m.debe}}
								th|{{sumas.m.haber}}
								th|{{sumas.s.deudor}}
								th|{{sumas.s.acreedor}}
								th|{{sumas.b.activo}}
								th|{{sumas.b.pasPat}}
								th|{{sumas.r.perdidas}}
								th|{{sumas.r.ganancias}}
							tr.danger
								th|89
								th|Res.Ejer
								th|*
								th|*
								th|*
								th|*
								th|{{resEjer.b.activo}}
								th|{{resEjer.b.pasPat}}
								th|{{resEjer.r.perdidas}}
								th|{{resEjer.r.ganancias}}
							tr.danger
								th|*
								th|Sumas Totales
								th|{{sumas.m.debe}}
								th|{{sumas.m.haber}}
								th|{{sumas.s.deudor}}
								th|{{sumas.s.acreedor}}
								th|{{sumas.b.activo}}
								th|{{sumas.b.activo}}
								th|{{sumas.r.ganancias}}
								th|{{sumas.r.ganancias}}