extends layout_2

block content
	#web(ng-controller="ctrlPrincipal")
		.caja()
			input.form-control(ng-model="msj")
			|{{msj}}
		.caja()
			input.form-control(ng-model="msj")
			|{{msj}}
block sub_content1
	script(src="/javascripts/development/script.js")


