doctype html
html(ng-app="balanceApp")
		head
			title= title
			link(rel='stylesheet', href='/bower_components/sidr/stylesheets/jquery.sidr.light.css')
			link(rel='stylesheet', href='/stylesheets/css/development/styles.css')
		body(ng-controller="ctrlPrincipal")
			block content
			block import
				script(src="/bower_components/jquery/dist/jquery.min.js")
				script(src="/bower_components/battatech_excelexport/Scripts/jquery.battatech.excelexport.js")
				script(src="/bower_components/flatstrap/dist/js/flatstrap.min.js")
				script(src="/bower_components/angular/angular.min.js")
				script(src="/javascripts/development/balanceApp.js")
				script(src="/javascripts/development/efecto.js")

				block sub_content1