@import "variables/variables.less";

html{
		//overflow: hidden;	
		width:90%;
		height: auto;
		margin: 0 auto;
			#content-principal{
				margin: 5% 0 0 0;
				text-align: center;
				h1,h2,h3{
					margin: 0 0 .2*@medida-gral;
					color:@color-p;
				}
				#tabla{
					table{
						thead{
							tr th{
								text-align: center;
							}
						}
					}
				}
			}
}