<!DOCTYPE HTML>
<html lang="ES-PE">
	<head>
		<meta charset="UTF-8">
		<title>Limelight </title>
		<link rel="shortcut icon" type="image/x-icon" href="/images/fave-icon.png" />
	   <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	   <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
	   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	   <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.3/jquery.backstretch.min.js"></script>
	</head>
	<body>
		<!---start-wrap---->
		<div class="wrap">
		<!---strat-header---->
		<div class="header"> 
			<div class="logo">
				<a href="index.html"> </a>
			</div>

			<div class="clear"> </div>
		</div>
		</div>
		<!---//End-header---->
		<!---start-slider---->
		<div class="slider">
			<div class="wrap"> 
			<div class="slider-left">
				<h1>Voi a ver como anda el negocio <b>:)</b></h1>
				<form>
					<input type="text" class="textbox" value="tu correo">
					<input type="text" class="textbox" value="tu contraseña">
					<br>
					<input type="submit" value="Entrar ahora!" />
				</form>
				<br>
				<div class="degrade">
					<span>No tengo una cuenta</span>
					<a class="link" href="/">Registrarme</a>
				</div>
			</div>
			<div class="slider-right">
				<img src="http://www.paperbutton.com/assets/responsive-4f57ef82a839095736be34a6ff3472ec.png" alt="" />
			</div>
			<div class="clear"> </div>
		</div>
		</div>
		<!---//End-slider---->

		<!---start-footer---->
		<div class="footer"> 
			<div class="wrap"> 

				<div class="footer-right">
					<p>Copyright &#169; 2013 Designer First. Powered By Fiorela, Gustavo Gonzales, Alex Jara, Nilton and Roberto Vega</p>
				</div>
				<div class="clear"> </div>
				</div>
		</div>
		<!---//End-footer---->
		<!---//End-wrap---->
		 </div>
	</body>
	<script src="js/custom.js"></script>
</html>

